<!-- GENERAL -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="requestModalLabel">¡Dinos qué seguro necesitas y te contactaremos inmediatamente!</h4>
      </div>
      <%= form_tag ('/insurance_requests'), remote: true, id: 'new-request-form' do %>
        <div class="modal-body">

          <div id="request-error"></div>

          <%= render 'modals_insurance_type' %>

          <%= render 'modals_contact_info' %>

          <%= render 'modals_cir_data' %>

          <!-- MENSAJE -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Si tienes algún comentario déjalo por aquí</h4>
							<textarea name="message"
                        cols="30"
                        rows="3"
                        class="form-control"
                        placeholder="Escribe tu mensaje por aquí"
                        onkeydown="javascript:blockCharacters(this)"
                        onkeypress="javascript:blockCharacters(this)"
                        onkeyup="javascript:blockCharacters(this)"
                        onblur="javascript:validateTextArea(this)"></textarea>
						</div>
					</div><!-- MENSAJE -->
          <br>

          <div id="request-error-2"></div>

          <%= render 'layouts/form_terms' %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= button_tag(type: :submit, id:"contratar-button", class: "btn btn-primary") do %>
            Enviar
          <% end %>

          <div class="col-md-2 col-md-offset-5">
            <div id="spinner-request" class="loader" style="display: none;"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div><!-- GENERAL -->

<!-- RECLAMO -->
<div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="complaintModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-complaint">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="complaintModalLabel">Haznos saber tu problema para poder ayudarte</h4>
      </div>
      <%= form_tag ('/complaints'), remote: true, id: 'new-complaint-form' do %>
        <div class="modal-body">

          <div id="complaint-error"></div>

          <!-- #POLIZA -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Por favor indíca el # de la póliza</h4>
							<input  type="text"
                      name="policy_number"
                      class="form-control"
                      placeholder="Poliza #12345"
                      pattern="^[0-9]*$"
                      title="Debe contener únicamente números, sin letras o caracteres especiales"
                      required>
						</div>
					</div><!-- #POLIZA -->

          <!-- NOMBRE -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Vamos a necesitar tu nombre...</h4>
							<input  type="text"
                      name="name"
                      class="form-control"
                      placeholder="Hola mi nombre es..."
                      pattern="^[a-zA-Z ,.'-]{2,}$"
                      title="Debe introducir un nombre válido"
                      required>
						</div>
					</div><!-- NOMBRE -->
          <br>

          <!-- CORREO -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Tu correo electrónico...</h4>
							<input  type="text"
                      name="email"
                      class="form-control"
                      placeholder="esmasseguro@ejemplo.com"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      title="Debe introducir un correo válido"
                      required>
						</div>
					</div><!-- CORREO -->
          <br>

          <!-- NUMERO TELF -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Y tu número telefónico</h4>
							<input   type="text"
                      name="phone"
                      class="form-control"
                      placeholder="+507 5555 5555"
                      pattern='^\+?\d{8,13}$'
                      title="Debe introducir un teléfono válido, sin espacios o caracteres especiales (sólo se acepta el + al comienzo del número)"
                      required>
						</div>
					</div><!-- NUMERO TELF -->
          <br>

          <!-- MENSAJE -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Por favor cuéntanos cúal es tu reclamo para poder ayudarte lo más pronto posible</h4>
							<textarea name="message" cols="30" rows="3" class="form-control" placeholder="Escribe tu mensaje por aquí" required></textarea>
						</div>
					</div><!-- MENSAJE -->
          <br>

          <div id="complaint-error-2"></div>

          <%= render 'layouts/form_terms' %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= button_tag(type: :submit, id:"reclamar-button", class: "btn btn-primary") do %>
            Enviar
          <% end %>

          <div class="col-md-2 col-md-offset-5">
            <div id="spinner-complaint" class="loader" style="display: none;"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div><!-- RECLAMO -->

<!-- EXITO -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="successModalLabel">Solicitud enviada ¡Gracias!</h4>
      </div>

      <div class="modal-body">
        <div class="row col-md-12" style="float:none">
          <div class="col-md-12">
            <h3 style="text-align:center;">¡Estamos felices de que hayas realizado tu solicitud con nosotros!</h3>
            <br>
            <h4 style="line-height:1.5;">Procesaremos tu solicitud inmediatamente y en unos minutos te estaremos contactando por la vía indicada.</h4>
            <h4 style="line-height:1.5;">Te invitamos a que sigas explorando las otras opciones que tenemos para ti, si tienes alguna pregunta no dudes en contactarnos.</h4>
            <br>
            <br>
            <h4 style="text-align:center;">Con nosotros te sentirás +Seguro.</h4>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>

      <!-- Google Code for masSeguro Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 869912287;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "JMbLCKHAuHUQ353nngM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
      <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/869912287/?label=JMbLCKHAuHUQ353nngM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>

    </div>
  </div>
</div><!-- EXITO -->

<!-- DISCULPAS -->
<div class="modal fade" id="apologiesModal" tabindex="-1" role="dialog" aria-labelledby="apologiesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="apologiesModalLabel">Reclamo enviado ¡Gracias!</h4>
      </div>

      <div class="modal-body">
        <div class="row col-md-12" style="float:none">
          <div class="col-md-12">
            <h3 style="text-align:center;">Nuevamente nos disculpamos por generarte un inconveniente.</h3>
            <br>
            <h4 style="line-height:1.5;">Procesaremos tu reclamo inmediatamente y en unos minutos te estaremos contactando para poder solucionar tu problema.</h4>
            <h4 style="line-height:1.5;">Te invitamos a que sigas explorando las otras opciones que tenemos para ti, si tienes alguna pregunta no dudes en contactarnos.</h4>
            <br>
            <br>
            <h4 style="text-align:center;">Con nosotros te sentirás +Seguro.</h4>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div><!-- DISCULPAS -->
