<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(<%= asset_path 'header.png' %>">
	<!--<div class="overlay"></div>-->
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Reinvetamos la experiencia en los seguros</h1>
						<h2>Cuando tienes el control y lo haces simple, es más seguro</h2>
						<p>
							<a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">ASEGÚRATE</a>
							<a href="#" class="btn btn-white btn-outline btn-lg">Tengo un reclamo</a>
            </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- 1-2-3 STEPS -->
<div id="gtco-steps">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>¿Cómo funciona?</h2>
        <p>Relájate en el sofá, desde nuestra experiencia totalmente móvil, te contactamos y aseguramos</p>
      </div>
    </div>

    <div class="row bs-wizard animate-box" style="border-bottom:0;">

      <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum"><h4>Paso 1</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">
          <p>¡Haz Click Aquí!</p>
          <a href="#" class="btn btn-primary btn-md" data-toggle="modal" data-target="#requestModal">Obtener seguro</a>
        </div>
      </div>

      <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"><h4>Paso 2</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">
          <p>Cuéntanos qué seguro necesitas</p>
          <i class="fa fa-car" aria-hidden="true"></i>
          <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"><h4>Paso 3</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><p>Decide cómo nos pondremos en contacto</p></div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
        <div class="text-center bs-wizard-stepnum"><h4>Paso 4</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><p>Relájate y déjanos trabajar por tí. Pronto estarás <span style="color:#F85A16; font-weight:bold">+Seguro</span></p></div>
      </div>
    </div>

  </div>
</div><!-- 1-2-3 STEPS -->

<!-- POR QUE -->
<div class="gtco-section">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>!Seguros como tú te los mereces!</h2>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-6">
        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Simple</h3>
            <p>Un par de clicks y estarás asegurado</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Transparente</h3>
            <p>Te mantendremos informado siempre y no tenemos costos ocultos</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Control</h3>
            <p>Tú decides todo SIEMPRE</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Rapido</h3>
            <p>Sabemos que esperar es tedioso, lo haremos lo más rápido posible TODO</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Personal</h3>
            <p>Alertas y correos que tú decides, siempre al día con tú seguro</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Barato</h3>
            <p>La gasolina cuesta y tú tiempo también</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- POR QUE -->

<!-- RECLAMOS -->
<div class="gtco-section">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>¿Tienes un Reclamo?</h2>
       <p>No te preocupes. Lamentamos que tengas un problema, haremos todo lo posible para ayudarte a solventar lo más rápido posible</p>
      <p>
      <h3>Haz Click Aquí</h3><a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">ASEGÚRATE</a>
  <a href="#" class="btn btn-white btn-outline btn-lg">Tengo un reclamo</a>
      </p>
      </div>
    </div>
  </div>
</div> <!-- RECLAMOS -->

<!-- QUE -->
<div id="gtco-services">
	<div class="gtco-container">

		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>¿Qué ofrecemos?</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>

		<div class="row animate-box">

			<div class="gtco-tabs">
				<ul class="gtco-tab-nav">
					<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-command"></i></span><span class="hidden-xs">Automóviles</span></a></li>
					<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Incendios</span></a></li>
					<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-bag"></i></span><span class="hidden-xs">Vida</span></a></li>
				</ul>
				<!-- Tabs -->
				<div class="gtco-tab-content-wrap">
          <!-- AUTOMOVILES -->
					<div class="gtco-tab-content tab-content active" data-tab-content="1">
            <div class="col-md-6">
              <div class="icon icon-xlg">
                <i class="fa fa-car" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-md-6">
              <h2>Seguros de Automóviles</h2>
              <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
              <div class="row">
								<div class="col-md-6 col-md-offset-4">
                  <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">Obtener seguro</a>
								</div>
							</div>
            </div>
					</div><!-- AUTOMOVILES -->

          <!-- INCENDIOS -->
          <div class="gtco-tab-content tab-content" data-tab-content="2">
            <div class="col-md-6">
              <div class="icon icon-xlg">
                <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-md-6">
              <h2>Seguros por Incendios</h2>
              <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
              <div class="row">
								<div class="col-md-6 col-md-offset-4">
                  <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">Obtener seguro</a>
								</div>
							</div>
            </div>
          </div><!-- INCENDIOS -->

          <!-- VIDA -->
          <div class="gtco-tab-content tab-content" data-tab-content="3">
            <div class="col-md-6">
              <div class="icon icon-xlg">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-md-6">
              <h2>Seguros de Vida</h2>
              <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
              <div class="row">
								<div class="col-md-6 col-md-offset-4">
                  <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">Obtener seguro</a>
								</div>
							</div>
            </div>
          </div><!-- VIDA -->
				</div><!-- Tabs -->
			</div>
		</div>
	</div>
</div><!-- QUE -->

<!-- SEPARADOR -->
<!--
<div class="gtco-cover gtco-cover-sm" style="background-image:url(<%= asset_path 'backgrounds/bg.jpg' %>">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>+Seguro +Rápido</h1>
            <h2>Quos quia provident consequuntur culpa facere ratione</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>--><!-- SEPARADOR -->

<!-- NUESTROS SEGUROS -->
<div class="gtco-client">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%= image_tag("clients/acerta.png", class: "img-responsive") %>
      </div>
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%= image_tag("clients/assa.png", class: "img-responsive") %>
      </div>
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%= image_tag("clients/generali.png", class: "img-responsive") %>
      </div>
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%= image_tag("clients/internacional.png", class: "img-responsive") %>
      </div>
    <!--
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%= image_tag("clients/internacional.png", class: "img-responsive") %>
      </div>
    -->
    </div>
  </div>
</div><!-- NUESTROS SEGUROS -->

<%= render 'modals' %>
