<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(<%= asset_path 'header.png' %>">
	<!--<div class="overlay"></div>-->
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Reinventamos la experiencia en los seguros</h1>
						<h2>Cuando tienes el control y lo haces simple, es más seguro</h2>
						<p>
							<a href="#" id="asegurate-header" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestModal">ASEGÚRATE</a>
							<a href="#" id="reclamo-header" class="btn btn-white btn-outline btn-lg" data-toggle="modal" data-target="#complaintModal">Tengo un reclamo</a>
            </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- 1-2-3 STEPS -->
<div id="masseguro-steps" class="gtco-section">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>¿Cómo funciona?</h2>
        <p>Relájate, te ofrecemos una <span style="color:#F85A16; font-weight:bold">experiencia móvil</span>.<br>Nosotros te contactamos y <span style="color:#F85A16; font-weight:bold">aseguramos</span></p>
      </div>
    </div>

    <div class="row bs-wizard animate-box" style="border-bottom:0;">

      <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum"><h4>Paso 1</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">
          <p>¡Haz Click Aquí!</p>
          <a href="#" id="asegurate-steps" class="btn btn-primary btn-md" data-toggle="modal" data-target="#requestModal">Obtener seguro</a>
        </div>
      </div>

      <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"><h4>Paso 2</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">
          <p>Cuéntanos qué seguro necesitas</p>
          <i class="fa fa-hospital-o" aria-hidden="true"></i>
          <i class="fa fa-car" aria-hidden="true"></i>
          <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"><h4>Paso 3</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">
          <p>¿Cómo prefieres que te contactemos?</p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
        <div class="text-center bs-wizard-stepnum"><h4>Paso 4</h4></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><p>Déjanos trabajar por ti.<br>¡Pronto estarás <span style="color:#F85A16; font-weight:bold">+Seguro</span>!</p></div>
      </div>
    </div>

  </div>
</div><!-- 1-2-3 STEPS -->

<!-- POR QUE -->
<div id="masseguro-why" class="gtco-section">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>¡Seguros como los mereces!</h2>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-6">
        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Simple</h3>
            <p>Un <span style="color:#F85A16; font-weight:bold">par de clicks</span> y estás asegurado</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Transparente</h3>
            <p><span style="color:#F85A16; font-weight:bold">Te mantendremos informado</span> y no ocultamos nada</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Control</h3>
            <p>Tú decides todo <span style="color:#F85A16; font-weight:bold">SIEMPRE</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Rapido</h3>
            <p>Sabemos que esperar es tedioso, lo haremos <span style="color:#F85A16; font-weight:bold">lo más rápido posible</span></p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Personal</h3>
            <p><span style="color:#F85A16; font-weight:bold">Alertas y correos</span> como tú decidas para que estés al día con tu seguro</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-check"></i>
          </span>
          <div class="feature-copy">
            <h3>Más Barato</h3>
            <p><span style="color:#F85A16; font-weight:bold">No te tienes que mover</span>, la gasolina cuesta y tu tiempo también</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- POR QUE -->

<!-- RECLAMOS -->
<div id="masseguro-reclamos" class="gtco-section" id="help">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center gtco-heading">
        <h2>¿Necesitas Ayuda?</h2>
        <p>No te preocupes. Lamentamos que tengas un problema, haremos todo lo posible para ayudarte a solventar lo más rápido posible</p>
        <br>
        <div class="col-md-6 text-center">
          <h3>Haz Click Aquí</h3>
          <a href="#" id="reclamo-section" class="btn btn-white btn-outline btn-lg" data-toggle="modal" data-target="#complaintModal">Tengo un reclamo</a>
        </div class="col-md-6 text-center">
        <div>
          <br>
          <h3>
            <i class="fa fa-envelope-o" aria-hidden="true" style="font-size:30px; margin-right:2%; color:#F85A16; font-weight: bold;"></i>
            info@esmasseguro.com
          </h3>
        </div>
      </div>
    </div>
  </div>
</div> <!-- RECLAMOS -->

<!-- APP -->
<div id="masseguro-app" class="gtco-client">
  <div class="gtco-container">
    <div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>¡Próximamente!</h2>
				<p>Podrás descargar nuestra aplicación y mejorar en un 100% tu experiencia con nosotros</p>
			</div>
		</div>

    <div class="row animate-box">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait gold">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <%#= image_tag("app/appscreen.jpg", class: "img-responsive") %>
                <%= cl_image_tag("esmasseguro/images/app/appscreen.jpg", class: "img-responsive") %>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row animate-box">
            <div class="col-md-6">
              <div class="feature-item text-center">
                <h2>
                  <i class="fa fa-mobile" aria-hidden="true" style="font-size:350%; color:#F85A16;"></i>
                </h2>
                <h2>Chat en vivo<br>con tu agente</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item text-center">
                <h2>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size:350%; color:#F85A16;"></i>
                </h2>
                <h2>Acceso directo<br>a tu póliza</h2>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row animate-box">
            <div class="col-md-6">
              <div class="feature-item text-center">
                <h2>
                  <i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size:350%; color:#F85A16;"></i>
                </h2>
                <h2>Recordatorios<br>de pago</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item text-center">
                <h2>
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size:350%; color:#F85A16;"></i>
                </h2>
                <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#complaintModal">SOS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div><!-- APP -->

<!-- NUESTROS SEGUROS -->
<div id="masseguro-seguros" class="gtco-client">
  <div class="gtco-container">
    <div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>Ellos ya forman parte del equipo de +Seguro</h2>
				<p>¿Qué esperas para que tú también lo hagas?</p>
			</div>
		</div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%#= image_tag("clients/acerta.png", class: "img-responsive") %>
        <%= cl_image_tag("esmasseguro/images/clients/acerta.png", class: "img-responsive") %>
      </div>
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%#= image_tag("clients/assa.png", class: "img-responsive") %>
        <%= cl_image_tag("esmasseguro/images/clients/assa.png", class: "img-responsive") %>
      </div>
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%#= image_tag("clients/generali.png", class: "img-responsive") %>
        <%= cl_image_tag("esmasseguro/images/clients/generali.png", class: "img-responsive") %>
      </div>
      <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
        <%#= image_tag("clients/internacional.png", class: "img-responsive") %>
        <%= cl_image_tag("esmasseguro/images/clients/internacional.png", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div><!-- NUESTROS SEGUROS -->

<%= render 'modals' %>
