<%= render 'header' %>

<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-6 animate-box">
				<h3>Get In Touch</h3>
        <ol class="breadcrumb">
          <li><%= link_to "Step 1", step1_wizard_path %></li>
          <li class="active">Step 2</li>
          <li>Step 3</li>
        </ol>

        <%= simple_form_for @cir_wizard, as: :cir_wizard, url: validate_step_wizard_path do |f| %>
          <%= f.error_notification %>

          <%= hidden_field_tag :current_step, 'step2' %>

          <!-- Marca -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :car_brand,
                          placeholder: 'Marca del automóvil',
                          input_html: { class: 'form-control' },
                          label: 'Marca'
              %>
						</div>
					</div><!-- Marca -->

          <!-- Modelo -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :car_model,
                          placeholder: 'Modelo del automóvil',
                          input_html: { class: 'form-control' },
                          label: 'Modelo'
              %>
						</div>
					</div><!-- Modelo -->

          <!-- Año -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :car_year,
                          placeholder: 'Año de construcción',
                          input_html: { class: 'form-control' },
                          label: 'Año'
              %>
						</div>
					</div><!-- Año -->

          <!-- Valor -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :car_value,
                          placeholder: 'Valor de automóvil en dólares',
                          input_html: { class: 'form-control' },
                          label: 'Valor ($)'
              %>
						</div>
					</div><!-- Valor -->

          <%= f.submit 'Continue', class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
