<%= render 'header' %>

<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-6 animate-box">
				<h3>Get In Touch</h3>
        <ol class="breadcrumb">
          <li><%= link_to "Step 1", step1_wizard_path %></li>
          <li><%= link_to "Step 2", step2_wizard_path %></li>
          <li class="active">Step 3</li>
        </ol>

        <%= simple_form_for @cir_wizard, as: :cir_wizard, url: validate_step_wizard_path do |f| %>
          <%= f.error_notification %>

          <%= hidden_field_tag :current_step, 'step3' %>

          <!-- Cedula -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :id_card_img, as: :file,
                          input_html: { class: 'form-control', accept: '.jpg, .jpeg, .png' },
                          label: 'Cédula (foto)'
              %>
            </div>
          </div><!-- Cedula -->

          <!-- Licencia -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :driver_license, as: :file,
                          input_html: { class: 'form-control', accept: '.jpg, .jpeg, .png' },
                          label: 'Licencia de Conducir (foto)'
              %>
            </div>
          </div><!-- Licencia -->

          <!-- Registro -->
          <div class="row form-group">
						<div class="col-md-10">
              <%= f.input :vehicle_registration, as: :file,
                          input_html: { class: 'form-control', accept: '.jpg, .jpeg, .png' },
                          label: 'Registro Vehicular (foto)'
              %>
            </div>
          </div><!-- Registro -->

          <%= f.submit 'Finish', class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
