<nav class="gtco-nav" role="navigation">
	<div class="gtco-container">
		<div class="row">
			<div class="col-xs-2">
				<div id="gtco-logo"><%= link_to '+Seguro', root_path %></div>
			</div>
			<div class="col-xs-10 text-right menu-1">
				<ul>
					<li class="active"><%= link_to 'Inicio', root_path %></li>
					<li><%= link_to 'Sobre nosotros', about_path %></li>
          <li><%= link_to 'Preguntas frecuentes', faq_path %></li>
					<li><%= link_to 'Contacto', contact_path %></li>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#requestModal" style="color:#fff">Asegúrate</a>
          <a href="#" class="btn btn-white btn-outline">Tengo un reclamo</a>
				</ul>
			</div>
		</div>
	</div>
</nav>
