<!DOCTYPE html>
<html>
  <head>
    <title>+Seguro: Cotizaciones de Seguros y Asesorías 100% digitales.</title>

    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="Reinventamos la experiencia en los seguros. Seguros de auto, salud, incendios y de vida. Proceso 100% transparente y digital con el cual tendrás una atención rápida y más segura." />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700" %>
  	<%= stylesheet_link_tag "animate" %>
  	<%= stylesheet_link_tag "icomoon" %>
    <%= stylesheet_link_tag "magnific-popup" %>
    <%= stylesheet_link_tag "owl.carousel.min" %>
    <%= stylesheet_link_tag "owl.theme.default.min" %>

  	<%= stylesheet_link_tag "style" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.documentElement,'async-hide','dataLayer',4000,
      {'GTM-M7KMK2L':true});
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100094539-2', 'auto');
      ga('require', 'GTM-M7KMK2L');
      ga('send', 'pageview');
    </script>

    <script>
      $("#help").click(function(evt) {
        ga('set','page','/help.html');
        ga('send', 'pageview');
      });

      $("#asegurate-nav").click(function(evt) {
        ga('set','page','/asegurate.html');
        ga('send', 'pageview');
      });

      $("#asegurate-header").click(function(evt) {
        ga('set','page','/asegurate.html');
        ga('send', 'pageview');
      });

      $("#asegurate-steps").click(function(evt) {
        ga('set','page','/asegurate.html');
        ga('send', 'pageview');
      });

      $("#reclamo-nav").click(function(evt) {
        ga('set','page','/reclamo.html');
        ga('send', 'pageview');
      });

      $("#reclamo-header").click(function(evt) {
        ga('set','page','/reclamo.html');
        ga('send', 'pageview');
      });

      $("#reclamo-section").click(function(evt) {
        ga('set','page','/reclamo.html');
        ga('send', 'pageview');
      });

      $("#contratar-button").click(function(evt) {
        ga('set','page','/contrato.html');
        ga('send', 'pageview');
      });

      $("#reclamar-button").click(function(evt) {
        ga('set','page','/reclamo.html');
        ga('send', 'pageview');
      });
    </script>
  </head>

  <body>
    <div id="page">
      <%= render 'layouts/navigation' %>

      <%= yield %>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <%= render 'layouts/footer'%>

    <%= javascript_include_tag "application" %>
  	<%#= javascript_include_tag "jquery.min" %>
  	<%= javascript_include_tag "jquery.easing.1.3" %>
  	<%#= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "jquery.waypoints.min" %>
    <%= javascript_include_tag "owl.carousel.min" %>
    <%= javascript_include_tag "jquery.countTo" %>
    <%= javascript_include_tag "jquery.magnific-popup.min" %>
    <%= javascript_include_tag "magnific-popup-options" %>
  	<%= javascript_include_tag "main" %>

  </body>
</html>
